* {
    /* background-color: #011240 !important; */
    color: aliceblue;
}
body, html {
    width: 100%;
    background-color: #011240 !important;
    z-index: -1;

}

a {
    text-decoration: none !important;
    color: white !important;
}

#preloader {
    height: 100vh;
    background-color: #011240;
    width: 100%;
    position: fixed;
    z-index: 100;
}

:root {
    --animate-delay: 0.3s;
    --orange-primary: #d0810b;
    --bg-sblue: #011240;
}

.bg-sblue {
    background-color: var(--bg-sblue);
}

.dropdown-item {
    padding: 2px 0;
}

.animate__animated.animate__delay-6s {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-delay: calc(var(--animate-delay)* 6);
    animation-delay: calc(var(--animate-delay)* 6);
}

.animate__animated.animate__delay-7s {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-delay: calc(var(--animate-delay)* 7);
    animation-delay: calc(var(--animate-delay)* 7);
}

.laranja-global {
    color: var(--orange-primary) !important;
}